<div class="container mt-5">
    <h1 class="text-center mn-4">LISTA DE PRODUCTOS</h1>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
            {{#each products}}
                <div class="col mb-4">
                    <div class="card h-100 bg-light">
                        <div class="card-heard bg-primary text-white">
                            <i class="bi bi-tag">ID:{{this.id}}</i>
                        </div>
                        <div class="card-body ">
                                
                                <ul class="list-unstyled">
                                    <li></i>Titulo:{{this.title}}</li>
                                    <li>description:{{this.description}}</li>
                                    <li></i>Precio:${{this.price}}</li>
                                    <li>Stock:{{this.stock}}</li>
                                    <li></i>Status:{{this.status}}</li>
                                    <li>Categoria:{{this.category}}</li>
                                    <li>Codigo:{{this.code}}</li>
                                    <li>
                                        <img>{{this.imagen}}</img>

                                    </li>
                                    
                                    
                                </ul>
                        </div>  
                    </div>
                </div>
            {{/each}}
        </div>
</div>    